.profileAvatar {
    margin-right: 0.3rem;
    max-height: 7rem;
    max-width: 6rem;
    padding: 0 1rem 0 0 ;
    overflow: hidden;
    justify-content: center;
    border-radius: 50%;
    justify-content: center;
}

.profileAvatar > img{
    width: 120%;
    height: auto;
    object-fit: cover;
}