.commentContainer{
    border-width: 0.7px;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    border-radius: 2px;
    padding: 0.2rem 0 0.2rem 0.2rem;
    min-height: 3rem;
    margin: 0.3rem
  }
  .profileImg{
    padding: 0.2rem;
    height: 2rem; 
    width: 2rem; 
    display: flex;
  }
  
  .profileImg > img{
    width: 100%;
    height: 100%;
    border-radius: 55%;
    object-fit: cover;
  }
  .commentWrapper{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
  }
  
  .username{
    justify-content: left;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  h6{
    margin: 0;
  }
  .switchLink{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .switchLink > h6{
    margin: 0 auto;
    padding: 0;
    text-align: right;
    padding-right: 0.2rem;
    color: blue;
    align-items:center;
    margin-bottom: 0;
  }
  
p{
  margin: 0;
}

.updateComment{
    position: absolute;
    width: inherit;
    background-color: white;
    justify-content: center;
}
.dateAndTime{
    display: flex;
    flex-direction: row;
    padding: 0.2rem;
    padding-left: .8rem;
}

.dateAndTime > p{
    font-size: 10px;
    color: rgb(196, 196, 196)
}

.buttonWrapper{
    display: flex;
    flex-direction: row;
}
.closeButton{
  width: fit-content;
  border-radius: 50%;
  padding: 0 0.3rem 0 0.3rem;
  background-color: rgb(236, 94, 94);
  color: white;

}
.closeButton:hover{
  background-color: rgb(240, 157, 157);
  cursor: pointer;
}