.navBarBottom{
    display: flex;
    justify-content: space-around;
    // border: solid purple;
    position: fixed;
    width: 100vw;
    // margin-right: 5rem;
    bottom: 0;
    background-color: white;
    border-top: solid var(--outlines);
    border-width: 0.7px;
    z-index: +1;
}
.profile{
    height: 1.5rem;
    width: 1.5rem;
    margin: 0.5rem;
}

.profile > img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.icon{
    color: black;
}

.profile:hover{
    opacity: 0.5;
    cursor: pointer;
}

.logout{
    border: solid var(--outlines);
    border-width: 0.2px;
    // padding: 1rem;
    border-radius: 3px 3px 0 0 ;
    position: fixed;
    bottom: 2.5rem;
    right: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;

}

.logoutClicker{
    border-bottom: solid var(--outlines) ;
    // margin: 1rem;
    padding: 0.5rem;
    border-width: 0.1px;
}

.logoutClicker:hover, .editProfileClicker:hover{
    color: gray;
    cursor: pointer;
}
.editProfileClicker{
    border-bottom: rgb(166, 255, 0) ;
    padding: 0.5rem;
    border-bottom: solid var(--outlines);
    border-width: 0.1px;
}

.closeContainer{
    // border: solid black;
    // padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
}

.closeButton{
    // border: solid blue;
    margin: 0.2rem;
    margin-left: 0.4rem;
}
.closeButton:hover{
    color: gray;
    cursor: pointer;
}