.profileHeader {
    font-family: sans-serif;
    // text-align: center;
    
}

.profile {
    // border: solid orange;
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 0.5rem 1rem;
}

.profileHeaderTop {
    display: flex;
    // justify-content: center;
    align-items: center;
}

.profileHighlights {
    border: solid yellow;
    padding: 1rem;
}