.profileHeader {
    font-family: sans-serif;
}

.profile {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 0.5rem 1rem;
}

.profileHeaderTop {
    display: flex;
    align-items: center;
}

.profileHighlights {
    border: solid yellow;
    padding: 1rem;
}