$monte-carlo: 'MonteCarlo', cursive;
$rochester: 'Rochester', cursive;

.navBar{
    // border: solid red ;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    background-color: white;
    border-bottom: solid var(--outlines);
    border-width: 0.7px;
    // padding: 0.3rem 0 0.3rem 0;
    font-family: $rochester;
    font-size: 1.2rem;
    z-index: +1;
}
.search{
    padding: 0.4rem;
}

.logo{
    padding: 0.5rem;
}

.logo:hover{
    color: gray;
    cursor: pointer;
}
.logo > h3{
    margin: 0 auto;   
}

.searchProfileIndex{
    border: solid var(--outlines);
    border-width: 0.2px;
    border-radius: 3px 3px 0 0;
    position: fixed;
    top: 2.5rem;
    // right: 0;
    padding: 2rem 0 0 0;
    background-color: white;
    display: flex;
    width: 90vw;
    left: 4vw;
    // min-width: 30rem;
    // max-width: 80rem;
    // margin: 0 5rem 0 5rem;
    // right: 3vw;
    flex-direction: column;
}

.closeButtonWrapper{
    // border: solid blue;
    border-top: solid var(--outlines);
    border-width: 0.2px;
    display: flex;
}

.closeButton{
    // border: solid blue;
    padding: 0.1rem;
}

.closeButton:hover{
    color: gray;
    cursor: pointer;
}