
a, button, ul{
    text-decoration: none;
    list-style-type: none;
  }
.navigtaionList{
    margin-top: 15rem;
    display: flex;
    justify-content: space-around; 
    padding: 0.5rem;
}

li > a{
    text-decoration: none;
    color: gray;
    font-size: 0.9rem;
}

footer > p{
    padding-left: 1rem;
}