
// section{
//     display: flex;
// }
.navBarTop{
    border: solid red;
    padding: 1rem;
}
.navBarSide{
    border: solid gold;
    padding: 1rem;
}
.profileCarousel{
    border: solid green;
    padding: 1rem;
}
.postsIndex{
    border: solid blue;
}
.post{
    border: solid gray;
    padding: 5rem;
}